# convert an integer to a floating- point number

In [6]:
a = int(input('enter the number '))
        
print(type(a))

b = float(a)
print(b)
print (type(b))

enter the number 5
<class 'int'>
5.0
<class 'float'>

# convert a float to an integer

In [9]:
a = float(input("enter the value  "))
print(type(a))
b =int(a)
print(b)
print(type(b))

enter the value  7.6
<class 'float'>
7
<class 'int'>

# convert an integer to a string

In [11]:
a = int(input ("enter the number  "))
print(type(a))
b = str(a)
print(b)
print(type(b))

enter the number  77
<class 'int'>
77
<class 'str'>

# convert a list to a tuple

In [14]:
a = [5,6,7]
print(type(a))

b =tuple(a) 
print(b)
print(type(b))

<class 'list'>
(5, 6, 7)
<class 'tuple'>

# convert a tuple to a list

In [16]:
a = ("arjun",1,2,3)
print(type(a))
b = list(a)
print(b)
print(type(b))

<class 'tuple'>
['arjun', 1, 2, 3]
<class 'list'>

# convert a decimal number to binary

In [21]:
a = 42
b = bin(a)
print(b)

0b101010
<class 'int'>

# convert a non- zero number to boolean

In [23]:
a = 0
boolean = bool(a)
print(boolean)

False